
input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #dddddd;
}

.main-todo {
  border: 2px solid #dddddd;
  padding-top:20px;
  margin-top:20px;
}

.todo-item-container {
  overflow: auto;
}