<div class="main-todo">
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <h2><input class="form-control" [(ngModel)]="todoInput" id="add-text" type="text" (keydown.enter)="onKeydown($event)" placeholder="Press enter to add"></h2>
    </div>
    <div class="col-md-1">
      <button (click)="addTodo()" class="btn btn-primary add-button">+</button>
    </div>
    <div class="col-md-2">
      <select class="form-control" [(ngModel)]="selectedFilter"
      (change)='onOptionsSelected($event)'>
        <option value="all">All</option>
        <option value="true">Completed</option>
        <option value="false">Not done</option>
      </select>
    </div>
  </div>
  <ul class="todo-item-container">
    <!-- the on delete will have a call back for the event  -->
    <!-- $event is a variable of the for loop, this will get the specific event -->
    <!-- you can even get position using $index -->
    <app-todo-item *ngFor="let todo of todos"
    [todo]="todo"
    (onDelete)="deleteTodo($event)">
    </app-todo-item>
  </ul>        
</div>
